.nav-item {
    svg{
        width: 20px!important;
        height: 20px!important;
    }
}

.group:hover .group-hover\:\!text-primary {
    --tw-text-opacity: 1!important;
    color: rgb(67 97 238/var(--tw-text-opacity))!important;
}




@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


body.dark {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-muted-900)/var(--tw-bg-opacity));
}


.bullet {
    display: inline-block;
    border-radius: 6px;
    width: 8px;
    height: 4px;
    flex-shrink: 0;
}
