@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Nunito:wght@400;500;600;700;800;900&display=swap');

@import "variables";
@import 'layout';
@import 'common';
@import 'ui';

body{
    font-family: Inter, Helvetica, "sans-serif";
}



// table
table {
    code{
        padding: 0.2em 0.4em;
        font-size: .9em;
        border-radius: 0.25rem;
        background-color: rgb(var(--color-muted-100));
        color: rgb(var(--color-muted-600));
        // font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    }
}

.dark {
    table{
        code{
            background-color: rgb(var(--color-muted-700));
            color: rgb(var(--color-muted-200));
        }
    }
}