// button
button, a{
    &.button{
        font-family: Inter,sans-serif;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.25rem;
        padding: .5rem 1.25rem;
        text-decoration-line: none;
        transition-duration: .3s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);

        outline-color: transparent;
        outline-offset: 2px;
        outline-style: dashed;
        outline-width: 1px;

        align-items: center;
        display: inline-flex;
        height: 2.5rem;
        justify-content: center;
        position: relative;

        &:hover{
            --tw-shadow: 0 0 #0000;
            --tw-shadow-colored: 0 0 #0000;
            box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000;
            box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
        }

        &:focus-within{
            --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
            --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color);
            box-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color),var(--tw-ring-inset) 0 0 0 calc(var(--tw-ring-offset-width)) var(--tw-ring-color),0 0 #0000;
            box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0 0 #0000);
            outline-color: rgb(var(--color-muted-300)/1);
            outline-style: dashed;

            .dark & {
                outline-color: rgb(var(--color-muted-600)/1)
            }
        }

        &:focus-visible{
            outline-width: 2px;
        }

        :not([hidden]) {
            &~:not([hidden]) {
                --tw-space-x-reverse: 0;
                margin-left: .25rem;
                margin-left: calc(.25rem*(1 - var(--tw-space-x-reverse)));
                margin-right: 0;
                margin-right: calc(.25rem*var(--tw-space-x-reverse))
            }
        }
        
        &:disabled{
            cursor: not-allowed;
            opacity: .6
        }


    }

    &.button-default{
        --tw-border-opacity: 1;
        --tw-bg-opacity: 1;
        --tw-text-opacity: 1;
        background-color: #fff;
        background-color: rgb(255 255 255/var(--tw-bg-opacity));
        border-color: rgb(var(--color-muted-300)/var(--tw-border-opacity));
        border-width: 1px;
        color: rgb(var(--color-muted-700)/1);
        color: rgb(var(--color-muted-700)/var(--tw-text-opacity));

        &:enabled{
            &:hover{
                --tw-bg-opacity: 1;
                background-color: rgb(var(--color-muted-50)/1);
                background-color: rgb(var(--color-muted-50)/var(--tw-bg-opacity));
            }
            &:active{
                --tw-bg-opacity: 1;
                background-color: #fff;
                background-color: rgb(255 255 255/var(--tw-bg-opacity));
            }
        }

        &:focus-visible{
            --tw-bg-opacity: 1;
            background-color: rgb(var(--color-muted-50)/1);
            background-color: rgb(var(--color-muted-50)/var(--tw-bg-opacity));
        }

        .dark & {
            --tw-border-opacity: 1;
            --tw-bg-opacity: 1;
            --tw-text-opacity: 1;
            background-color: rgb(var(--color-muted-700)/1);
            background-color: rgb(var(--color-muted-700)/var(--tw-bg-opacity));
            border-color: rgb(var(--color-muted-600)/var(--tw-border-opacity));
            color: #fff;
            color: rgb(255 255 255/var(--tw-text-opacity));

            &:focus-visible, &:enabled:hover{
                --tw-bg-opacity: 1;
                background-color: rgb(var(--color-muted-600)/1);
                background-color: rgb(var(--color-muted-600)/var(--tw-bg-opacity))
            }

            &:enabled:active{
                --tw-bg-opacity: 1;
                background-color: rgb(var(--color-muted-700)/1);
                background-color: rgb(var(--color-muted-700)/var(--tw-bg-opacity))
            }
        }
    }


    &.button-sm {
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.25rem;
        padding: .25rem 1rem;

        height: 2rem;

        &:focus-within{
            .dark & {
                outline-color: rgb(var(--color-muted-600)/1)
            }
        }

    }

    
    &.button-xl {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        padding: .8rem 1.4rem;

        height: 2.8rem;
    }
    
    &.button-xxl {
        font-size: 1.15rem;
        font-weight: 400;
        line-height: 1.25rem;
        padding: .8rem 1.6rem;

        height: 3rem;
    }
}

// button